:root {
  --cor-fundo: #131314;                 
  --cor-fundo-secundario: #1e1f20;      
  --cor-lateral: #2c2d2e;                 
  --cor-texto-principal: #e3e3e3;        
  --cor-texto-secundario: #9aa0a6;       
  --cor-destaque: #8ab4f8;                
  --cor-destaque-hover: #a1c6fb;       
  --cor-borda: #3c4043;                  
  --cor-texto-botao-destaque: #202124; 
}

body {
  margin: 0;
  font-family: 'Google Sans', sans-serif, system-ui;
  background-color: var(--cor-fundo);
  color: var(--cor-texto-principal);
}

body[data-bs-theme="dark"] {
  --bs-body-bg: var(--cor-fundo);
  --bs-body-color: var(--cor-texto-principal);
  --bs-border-color: var(--cor-borda);
  --bs-primary: var(--cor-destaque);
  --bs-primary-rgb: 138, 180, 248;
  --bs-secondary-rgb: 154, 160, 166;
}

.card {
  background-color: var(--cor-fundo-secundario) !important;
  border-color: var(--cor-borda) !important;
}

.navbar {
  background-color: var(--cor-fundo-secundario) !important;
  border-bottom: 1px solid var(--cor-borda);
}

.btn-primary {
  --bs-btn-bg: var(--cor-destaque) !important;
  --bs-btn-border-color: var(--cor-destaque) !important;
  --bs-btn-color: var(--cor-texto-botao-destaque) !important; 
  --bs-btn-hover-bg: var(--cor-destaque-hover) !important;
  --bs-btn-hover-border-color: var(--cor-destaque-hover) !important;
}

.btn-secondary, .btn-outline-light {
  --bs-btn-color: var(--cor-texto-secundario);
  --bs-btn-border-color: var(--cor-borda);
  --bs-btn-hover-bg: var(--cor-fundo-secundario);
  --bs-btn-hover-border-color: var(--cor-destaque);
  --bs-btn-hover-color: var(--cor-destaque);
}
.btn-outline-light {
    --bs-btn-color: var(--cor-texto-principal);
}

.ps-sidebar-container {
    background-color: var(--cor-lateral) !important;
    border-right: 1px solid var(--cor-borda) !important;
}
.ps-menu-button {
  color: var(--cor-texto-principal) !important;
}
.ps-menu-button:hover, .ps-menu-item-root.ps-open > .ps-menu-button {
  background-color: var(--cor-fundo) !important;
  color: var(--cor-destaque) !important;
}
.ps-menu-icon {
  color: var(--cor-texto-secundario) !important;
}

/* Dropdown dos Cards */
.dropdown-toggle {
    background-color: transparent !important;
    border: none !important;
    color: var(--cor-texto-secundario) !important;
}
.dropdown-menu[data-bs-theme="dark"] {
    background-color: var(--cor-lateral);
    border-color: var(--cor-borda);
}
.dropdown-menu[data-bs-theme="dark"] .dropdown-item:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-texto-botao-destaque);
}

.card-title {
    color: var(--cor-texto-principal);
}

.modal-content {
    background-color: var(--cor-fundo-secundario);
    border-color: var(--cor-borda);
}